
# REQUIRED PACKAGES

-- This is a list of packages required to run the Interactive K-Means Web Application. The application was developed under the package versions mentioned below. Other versions of these packages may still work, but compatibility is not guaranteed. If you already have one of these packages, then proceed to run the program first to see if it works. If it doesn't, just update the package to the latest version (not necessarily the one mentioned here).

	# DASH
dash==0.35.2
dash-core-components==0.42.1
dash-html-components==0.13.5
dash-renderer==0.16.2

--> Visit this web page to know how to install Dash. https://dash.plot.ly/installation

	# PLOTLY
plotly==3.5.0

--> Visit this web page to know how to install Plotly. https://plot.ly/python/getting-started/

	# SCIPY STACK
numpy==1.16.0
scikit-learn==0.20.2
scipy==1.2.0
sklearn==0.0

--> These are installed by default if you're using the Anaconda Distribution.

--> If you're using the Anaconda Distribution, then you may install all the packages above (Dash and Plotly) from the Anaconda Navigator without using the "pip" method mentioned in the installation web pages linked.


